.App {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #222222;
    }

h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

  